:root {
    --text-color: #1b191a;
    --link-color: #3d603b;
    --background-color: #d8e9d8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 1400px; /* max width of the page when zooming out*/
    margin: 0 auto; /* center the page when zoomed out*/
}

a {
    text-decoration: none; /* only if you don't want links to be underlined */
    color: var(--link-color);
}

/* NAVBAR */
nav {
    display: flex; /* puts everything in the nav div in one line */
    justify-content: space-between; /* space btwn L & R divs */
    padding: 0 50px; /* 0 is y-axis, 50 is x */ 
    height: 80px; /* could do padding for y, but setting height will keep height fixed */
    align-items: center; /* to make sure elements come down with the height */
}

nav .left a {
    color: var(--text-color); /* so it's not the link color */
    font-size: 22px;
    font-weight: 600; /* using 400 & 600 fron gfonts, so putting 600 here */
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child { /* last link only (email) to create a box */
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span { /* to create space between icon & text */
    margin-left: 5px;
}

/* SECTION 1: HERO */
.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 0 50px; /* so text doesn't go all the way to the end */
    margin: 50px 0; /* for space btwn navbar and hero */
    align-items: center; 
    margin-bottom: 100px; /* for space btwn hero and next section */
    gap: 40px; /* btwn text and headshot */
}

.hero-section .text {
    flex: 5; /* like a ratio, will have 5:7 in spacing */
}

.hero-section .text h2 {
    font-size: 45px;
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a {
    display: inline-block; /* to make sure icons don't separate from their text */
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .text .links a:hover{ /* link change color when hovered over */
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section .headshot {
    flex: 2; /* 2:7 in spacing (7is total, 5+2) */
    display: flex; /* makes content stay to the right when zoom in/out */
    justify-content: right; /* content to right */
}

.hero-section .headshot img {
    border-radius: 50%;
    width: 350px;
    border: 2px solid var(--link-color)
}

/* SECTION 2: SKILLS */
.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
}
.skills-section h2 {
    text-align: center;
    font-size: 35px;
}
.skills-section .text {
    text-align: center;
    margin-bottom: 20px;
}

/* SECTION 5: CONTACT */
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text{
    flex: 3;
}

.contact-section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 10px;
    outline: none; /* removes the deafult colored (blue) outline when clicked on */
    resize: none; /* doesn't allow user to resize the text area */
    border-radius: 5px;
}

.contact-section .group form button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:#d8e9d8;
    background-color: var(--link-color);
    border: none;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
}

.contact-section .group form button:hover {
    filter:brightness(.90);
}


@media (max-width: 600px) { /* any style changes made here only affect the site when it is <600px */
    /* NAVBAR */
    nav {
        padding: 0 20px;
    }

    nav .right a span {
        display: none; /* remove text labels */
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
    }

    /* SECTION 1: HERO */
    .hero-section {
        padding: 0 20px;
    }

    .hero-section .text h2 {
        font-size: 30px;
    }

    /* SECTION 2: SKILLS */
    .skills-section {
        padding: 0 20px;
    }

    .skills-section h2 {
        font-size: 30px;
    }

    /* SECTION 5: CONTACT */
    .contact-section {
        padding: 0 20px;
    }

}

@media (max-width: 740px) {
    /* SECTION 1: HERO */
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .headshot img {
        width: 300px;
    }

    /* SECTION 5: CONTACT */
    .contact-section .group {
        flex-direction: column;
    }
    
}

@media (max-width: 850px) {
    /* SECTION 1: HERO */
    .hero-section .text h2 {
        font-size: 35px;
      }
    
}